* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

#container {
    position: relative;
    width: 100px;
    height: 100px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
}
